.product {
    width: 300px;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    height: 508px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}

.product-info {
    margin-left: 14px;
}

.product-info h4,
h5,
p {
    margin-top: 4px;
    margin-bottom: 8px;
}

.btn-cart {
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #95A0A7;
    background: #FFE0B3;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.btn-cart:hover {
    background-color: orange;
}